.container{
    margin-bottom: 30px;
}
.logo{
    height: 55px;
    width: 100%;
}

.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 600;
}
.bg-image{
    background: tomato;
   
   
    
}
.btn{
    background-color: black;
    color: #fff;
    border-radius: 8px;
    border: none;
    transition: 0.5s;
}
.btn:hover{
    color: tomato;
}
.carousel-item{
    padding: 20px 40px;
}
h1{
    color: black;
    font-weight: 700;
}
.card{
    margin: 20px;
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
    
}
.cat{
    text-align: center;
}
.row{
    padding: 30px;
    margin: 20px;
    
    
}

.picture1, .picture2, .picture3{
    
    box-shadow: 5px 5px 10px lightgray;
    padding-left: 10% 5%;
    margin: 10px;
    height: 30vh;
    
}
.picture4{
    
    height: 65vh;
    margin: 20px;
    padding: 20px;
    
}
